<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">VideoGen Website</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Hello "{{account.login}}".</span>
            </div>
        </div>

        <p>Choisissez le mode de génération de votre vidéo.</p>

        <p><b>Mode aléatoire</b> : Cliquez sur le bouton “Mode aléatoire”
            pour lancer la génération d’une variante de vidéo. A chaque fois
            une nouvelle variante est produite et jouée.</p>

        <p><b>Mode configurateur</b> : Choisissez vos vidéo en
            sélectionnant des vignettes de vidéos.  L’ordre d’affichage
            des vignettes sera déterminé par l’ordre de la spécification
            VideoGen. Pour les « alternatifs » les vignettes seront affichées
            dans un même bloc. A la fin de chaque configuration,
            on joue la variante de vidéo correspondante.</p>

        <button class="btn btn-primary" routerLink="video-random">Mode aléatoire</button>
        <button class="btn btn-warning" routerLink="video-setup">Mode configurateur</button>

    </div>
</div>
